
/* Navbar */
.search-form {
    margin: 0 1rem;  
    flex-grow: 1; 
    min-width: 25rem;
    justify-self: center;
    position: absolute;
    padding-left: 150px;
    padding-right: 500px;
    width: 100%;

}
.search-box {
width: 100%;  
min-width: 10rem;
padding: .4rem;
background-color: #ffb;
justify-self: center;
background-color: white;
}

.login-bar{
    display:inline-block;
    background-color: white;
}

.bar{
    color: rgb(216, 215, 214);
    text-align: right;
   
}

.bar a{
    text-decoration: none;
    color: black;
    padding-right: .4in;
    font-size: small;
}

/* register page */
.register{
    border: .1in;
    width:10in;
    height: 6in;
    margin-top: 4in;
    border: black;
    background-color: rgba(238, 157, 171, 0.49);
    justify-self: center;
}

.left-register{
    min-width: 2in;
    max-width: 3in;
    margin-left: 1in;
}
.right-register{
    min-width: 2in;
    max-width: 3in;
    margin-left: 1in;
}




