
/* Navbar */
.search-form {
    margin: 0 1rem;  
    flex-grow: 1; 
    min-width: 25rem;
    justify-self: center;
    position: absolute;
    padding-left: 150px;
    padding-right: 500px;
    width: 100%;

}
.search-box {
width: 100%;  
min-width: 10rem;
padding: .4rem;
background-color: #ffb;
justify-self: center;
background-color: white;
}

.login-bar{
    display:inline-block;
    background-color: white;
}

.bar{
    background-color: white;
    text-align: right;
   
}

.bar a{
    text-decoration: none;
    color: black;
    padding-right: .4in;
    font-size: small;
}
.body{
    background-color: black;
}


