{% extends 'navbar/navbar.html' %}
{% block content %} {% load static %}
<div class="container-sm register">
    <div class="container overflow-hidden">
      <form action="" method="post">
        {% csrf_token %}
        <div class="row gx-5">
          <div class="col">
           <div class="p-1 border bg-light">{{form.first_name}}</div>
          </div>
          <div class="col">
            <div class="p-1 border bg-light">{{form.last_name}}</div>
          </div>
        </div>
        <div class="row gx-5">
          <div class="col">
           <div class="p-1 border bg-light">{{form.username}}</div>
          </div>
          <div class="col">
            <div class="p-1 border bg-light">{{form.email}}</div>
          </div>
        </div>
        <div class="row gx-5">
          <div class="col">
           <div class="p-1 border bg-light">{{form.password1}}</div>
          </div>
          <div class="col">
            <div class="p-1 border bg-light">{{form.password2}}</div>
          </div>
        </div>

        <button id="submit_button" type="submit" class="btn btn-primary">Create Account</button>
      </form>
        
      </div>
</div>
{% endblock %}
